<nav id="sidebarMenu" class="sidebar  collapse d-lg-block sidebar">
    <div class="position-sticky">
        <div class="list-group ">
            <ul>
                <li class="nav_lank ">
                    <a class="nav_list" routerLink="/dashboard">
                        <i class="bi bi-speedometer"></i>
                    </a>

                </li>
                <li class="nav_lank">
                    <a routerLink="/projectlist" class="nav_list">
                        <i class="bi bi-menu-button-wide-fill"></i>
                    </a>

                </li>

                <li class="nav_lank">
                    <a routerLink="/createlist" class="nav_list">
                        <i class="bi bi-plus-lg"></i>
                    </a>

                </li><br>


                <li class="nav_lank end">
                    <a class="nav_list">
                        <i routerLink="/login" id="log" class="bi bi-box-arrow-right" style="width: 20px;"></i>
                    </a>

                </li>
            </ul>
        </div>
    </div>
</nav>
